extends ./layout/index

block contenido
   main.container.mt-5 
        .row 
          .col-md-5 
               img(src="img/nosotros.jpg", alt="imagen-nosotros" class="img-fluid")
          .col-md-7 
             h1 #{pagina} 
             blockquote  ipsum dolor sit amet consectetur adipisicing elit. Vel consequatur voluptates eligendi ipsum minima voluptatum itaque totam suscipit ex adipisci et, at autem commodi incidunt facere cumque nulla! Amet, quae?
             p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quod aliquam corrupti laboriosam vel libero, laudantium ipsa, odio, inventore delectus repellat consequuntur corporis! Debitis sequi enim odio fugit voluptate rerum?
             p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repellat eum rerum blanditiis expedita distinctio rem quas, inventore facere perspiciatis molestias, illo recusandae sunt, modi quibusdam cupiditate autem laudantium. Pariatur.
          .listado-iconos 
               .container.mt-5.py-5.text-center
                    .row 
                         .col-md-4
                              img(src="img/icono_seguridad.svg", alt="icono-seguridad" 
                              class="img-fluid mb-4")
                              h2.mb-4 Seguridad 
                              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, odio molestiae modi officiis eos molestias veritatis. Accusamus cupiditate odio debitis ut voluptatum voluptas fugiat minima unde, rerum obcaecati veniam reprehenderit!
                         .col-md-4
                              img(src="img/icono_destinos.svg", alt="icono-destinos" 
                              class="img-fluid mb-4")
                              h2.mb-4 Mejores destinos 
                              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, odio molestiae modi officiis eos molestias veritatis. Accusamus cupiditate odio debitis ut voluptatum voluptas fugiat minima unde, rerum obcaecati veniam reprehenderit!
                         .col-md-4
                              img(src="img/icono_precio.svg", alt="icono-precios" 
                              class="img-fluid mb-4")
                              h2.mb-4 Los mejores precio 
                              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, odio molestiae modi officiis eos molestias veritatis. Accusamus cupiditate odio debitis ut voluptatum voluptas fugiat minima unde, rerum obcaecati veniam reprehenderit!
